* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, p, ul, address {
  margin: 0;
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
