@media only screen and (min-width: 38rem) {

  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 38px auto;
  }

  .hamburger {
    display: none;
  }

  /* =============================== Navigation =============================== */
  .navigation {
    display: block;
    background-color: #121212;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  button {
    width: 32%;
  }

  .course-content {
    display: flex;
    gap: 10px;
  }

  section {
    height: 300px;
  }

  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .date-section {
    padding: 15px;
  }

}