@media only screen and (min-width: 38rem) {

  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 38px auto;
  }

  .hamburger {
    display: none;
  }

  /* =============================== Navigation =============================== */
  .navigation {
    display: block;
    background-color: #121212;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }

  button {
    width: 32%;
  }

  button:hover {
    background-color: #ccc;
  }

  button:active {
    background-color: #121212;
    color: #ccc;
  }
  

  .course-content {
    display: flex;
    gap: 10px;
  }

  .course-content p {
    flex: 1;
    width: auto;
    min-height: 30px;
    height: auto;
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    border: solid 1px #000;
    background-color: #ccc;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }


  section {
    height: 300px;
  }

  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .date-section {
    padding: 15px;
  }

}